<div class="center jumbotron">
  <h1>Welcome to My Party</h1>

  <h2>
    This is based on the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to image_tag("logo.png", alt: "Logo"),
            play_path %>
</div>

