<% if @feed_items.any? %>
  <table class="weights table">
  	<th>date</th>
    <th>total</th>
    <th>% fat</th>
    <th>fat</th>
    <th>lean</th>
    <th></th>
    <th></th>
    <%= render @feed_items %>
  </table>
  <%= will_paginate @feed_items %>
<% end %>